absl-py==0.9.0
aiofiles==0.5.0
aiohttp==3.6.2
alabaster==0.7.12
alembic==1.4.3
appdirs==1.4.4
APScheduler==3.6.3
argon2-cffi==19.1.0
arrow==0.13.1
asgiref==3.3.1
asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
autograd==1.3
autograd-gamma==0.4.2
Automat==0.6.0
Babel==2.7.0
backcall==0.1.0
bar-chart-race==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bert-serving-client==1.8.9
bert-serving-server==1.10.0
bert-tensorflow==1.0.4
bert4keras==0.8.7
bleach==3.1.0
blessings==1.7
blis==0.7.4
boto==2.49.0
boto3==1.15.16
botocore==1.18.16
bs4==0.0.1
bson==0.5.9
bz2file==0.98
cachetools==4.0.0
catalogue==2.0.6
certifi==2020.12.5
cffi==1.12.2
chardet==3.0.4
click==7.1.1
click-default-group==1.2.2
cloudpickle==1.1.1
colorama==0.4.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==0.15.2
configobj==5.0.6
confuse==1.3.0
constantly==15.1.0
contextvars==2.4
copulae==0.7.0
cryptography==2.6.1
cssselect==1.0.3
cupy==7.1.1+cuda102
cycler==0.10.0
cymem==2.0.5
Cython==0.29.15
dataclasses==0.7
decorator==4.4.0
deepctr==0.8.6
defusedxml==0.5.0
demjson==2.2.4
diff-match-patch==20200713
dill==0.3.1.1
Django==2.1.7
django-allauth==0.39.1
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-environ==0.4.5
django-extensions==2.1.6
django-formtools==2.2
django-import-export==2.5.0
django-pagination-bootstrap==1.2.4
django-reversion==3.0.9
djangorestframework==3.9.2
dm-tree==0.1.5
dnspython==1.16.0
docker==4.4.0
docopt==0.6.2
docutils==0.15.2
dukpy==0.2.3
easydict==1.9
elasticsearch==7.12.0
EMD-signal==0.2.7
emoji==0.5.4
english==2020.7.0
entrypoints==0.3
erlastic==2.0.0
et-xmlfile==1.0.1
fake-useragent==0.1.11
fakeredis==1.4.3
fastrlock==0.4
fasttext==0.9.2
fbmessenger==6.0.0
ffmpeg==1.4
filelock==3.0.12
fire==0.2.1
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
gast==0.2.2
geatpy==2.6.0
gensim==3.8.1
gevent==1.4.0
gin-config==0.4.0
gitdb==4.0.5
GitPython==3.1.9
gluonnlp==0.8.1
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
google-colab==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
gpustat==0.6.0
GPUtil==1.4.0
greenlet==0.4.15
grpcio==1.27.2
gunicorn==20.0.4
gym==0.18.3
h11==0.8.1
h2==3.2.0
h5py==2.10.0
hanlp-downloader==0.0.20
hmmlearn==0.2.5
hpack==3.0.0
hstspreload==2020.10.6
htmlmin==0.1.12
httpcore==0.9.1
httplib2==0.19.1
httptools==0.1.1
httpx==0.13.3
humanfriendly==8.2
hyperframe==5.2.0
hyperlink==17.3.1
idna==2.10
idna-ssl==1.1.0
ImageHash==4.1.0
imageio==2.6.1
imagesize==1.1.0
immutables==0.14
importlib-metadata==2.1.1
imutils==0.5.3
incremental==17.5.0
iniconfig==1.1.1
intel-openmp==2019.0
ipdb==0.12.3
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
itchat==1.2.32
itemadapter==0.2.0
itsdangerous==1.1.0
javascripthon==0.11
jdcal==1.4.1
jedi==0.13.3
jieba==0.39
Jinja2==2.11.3
jmespath==0.9.4
joblib==1.0.1
JPype1==0.7.0
JsonForm==0.0.2
jsonpatch==1.24
jsonpickle==1.4.1
jsonpointer==2.0
jsonschema==3.0.1
JsonSir==0.0.2
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-echarts-pypkg==0.1.2
jupyter-pip==0.3.1
kafka-python==1.4.7
kaggle==1.5.6
kashgari-tf==0.5.5
kenlm @ https://github.com/kpu/kenlm/archive/master.zip
Keras==2.3.1
Keras-Applications==1.0.8
keras-bert==0.86.0
keras-contrib @ git+https://www.github.com/keras-team/keras-contrib.git@3fc5ef709e061416f4bc8a92ca3750c824b5d2b0
keras-embed-sim==0.8.0
keras-gpt-2==0.15.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.46.0
keras-transformer==0.38.0
kfac==0.2.3
kiwisolver==1.3.1
klein==17.10.0
lda==2.0.0
lifelines==0.24.9
lightgbm==2.3.1
llvmlite==0.34.0
lml==0.0.2
lru-dict==1.1.7
lxml==4.6.3
macropy3==1.1.0b2
Mako==1.1.3
Markdown==3.2.1
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.3.4
mattermostwrapper==2.2
mesh-tensorflow==0.1.19
missingno==0.4.2
mistune==0.8.4
mlxtend==0.17.3
mock==4.0.2
mongoengine==0.22.1
monotonic==1.5
more-itertools==7.2.0
mpmath==1.1.0
msgpack-python==0.5.4
multidict==4.7.6
multiprocess==0.70.9
murmurhash==1.0.5
mypy-extensions==0.4.1
mysqlclient==1.4.2.post1
Naked==0.1.31
nbconvert==5.4.1
nbformat==4.4.0
neo4j-driver==1.7.6
neobolt==1.7.17
neotime==1.7.4
networkx==2.4
nltk==3.4.5
notebook==5.7.6
numba==0.51.2
numpy==1.19.5
numpydoc==0.9.1
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.44
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
opennmt-py==2.1.2
openpyxl==3.0.2
opt-einsum==3.2.0
packaging==20.4
pandas==1.1.5
pandas-profiling==2.9.0
pandocfilters==1.4.2
pansi==2020.7.3
parsel==1.5.1
parso==0.3.4
pathos==0.2.5
pathy==0.6.0
patsy==0.5.1
pbr==3.1.1
pexpect==4.6.0
phik==0.10.0
pickleshare==0.7.5
pika==1.1.0
Pillow==8.2.0
pinyin==0.4.0
Pinyin2Hanzi==0.1.1
pluggy==0.13.1
portpicker==1.2.0
pox==0.2.7
ppft==1.6.6.1
pprint==0.1
preshed==3.0.5
prettytable==0.7.2
profiling==0.1.3
progress==1.5
progressbar2==3.53.1
prometheus-client==0.6.0
promise==2.3
prompt-toolkit==2.0.10
Protego==0.1.16
protobuf==3.15.8
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.10.0
py2neo==2021.0.1
py4j==0.10.9
pyasn1==0.4.5
pyasn1-modules==0.2.4
pybind11==2.5.0
pycopula==0.1.5
pycorrector==0.3.0
pycparser==2.19
pycryptodome==3.9.4
pydantic==1.8.2
PyDispatcher==2.0.5
pydot==1.4.1
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.2.0
pyee==8.1.0
pyemd==0.5.1
pygame==2.0.1
pyglet==1.5.15
Pygments==2.3.1
PyHamcrest==1.9.0
pyhanlp==0.1.77
PyJWT==1.7.1
pykwalify==1.7.0
pyltp==0.2.1
pymongo==3.8.0
PyMySQL==0.8.0
pynvml==8.0.4
pyOpenSSL==19.0.0
pyparsing==2.4.7
pypinyin==0.41.0
pypng==0.0.20
pyppeteer==0.2.5
pyproj==2.4.1
PyQRCode==1.2.1
PyQt5==5.10
PyQt5-sip==12.7.1
pyquery==1.4.0
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.7.1
pyspark==3.0.1
pytesseract==0.3.3
pytest==6.2.3
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-docx==0.8.10
Python-EasyConfig==0.1.7
python-editor==1.0.4
python-engineio==3.12.1
python-Levenshtein==0.12.0
python-resources==0.3
python-slugify==4.0.0
python-socketio==4.5.1
python-telegram-bot==11.1.0
python-utils==2.4.0
python3-openid==3.2.0
pytz==2021.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.1.2
pyzmq==18.0.1
qtconsole==4.4.3
QtPy==1.9.0
questionary==1.5.2
queuelib==1.5.0
rasa==1.10.15
rasa-core-sdk==0.14.0
rasa-sdk==1.10.3
rasa-x==0.32.2
redis==3.4.1
regex==2020.6.8
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
Resource==0.2.1
rfc3986==1.4.0
rocketchat-API==0.6.36
rsa==4.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
sacremoses==0.0.43
sanic==19.12.2
Sanic-Cors==0.10.0.post3
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.9.4
scikit-image==0.16.2
scikit-learn==0.24.1
scipy==1.5.4
Scrapy==1.5.1
seaborn==0.10.1
selective-search==0.1.2.2
selenium==3.141.0
Send2Trash==1.5.0
sentence-transformers==0.4.1.2
sentencepiece==0.1.91
sentry-sdk==0.17.8
seqeval==0.0.10
service-identity==18.1.0
shellescape==3.4.1
simplegeneric==0.8.1
simplejson==3.17.2
sip==4.19.8
six==1.15.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==2.9.2
smart-open==5.2.1
smmap==3.0.4
sniffio==1.1.0
snowballstemmer==2.0.0
snownlp==0.12.3
sortedcontainers==2.2.2
soupsieve==2.2.1
spacy==3.1.2
spacy-legacy==3.0.8
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.19
sqlparse==0.3.1
srsly==2.4.1
statsmodels==0.12.0
sympy==1.6.2
synonyms==3.10.2
tablib==3.0.0
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tb-nightly==2.6.0a20210626
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.0
tensorflow==1.15.0
tensorflow-addons==0.7.1
tensorflow-datasets==3.2.1
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-gpu==1.15.0
tensorflow-hub==0.8.0
tensorflow-metadata==0.23.0
tensorflow-probability==0.7.0
tensorlayer==2.2.3
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
text-unidecode==1.3
tf-slim==1.1.0
thinc==8.0.8
threadpoolctl==2.1.0
time-convert==1.2.5
tokenizers==0.9.2
toml==0.10.2
torch==1.9.0
torchfile==0.1.0
torchnet==0.0.5.1
torchtext==0.10.0
torchvision==0.4.2
tornado==6.0.2
tqdm==4.60.0
traitlets==4.3.2
transformers==3.4.0
tushare==1.2.62
twilio==6.26.3
Twisted==18.9.0
typeguard==2.9.1
typer==0.3.2
typing==3.6.2
typing-extensions==3.7.4.3
tzlocal==2.0.0
uf==2.7.5
ujson==1.35
uritemplate==3.0.1
urllib3==1.26.4
urwid==2.1.2
valuedispatch==0.0.1
visdom==0.1.8.9
visions==0.5.0
w3lib==1.20.0
waitress==1.4.4
wasabi==0.8.2
wcwidth==0.1.7
webencodings==0.5.1
webexteamssdk==1.3
websocket-client==0.58.0
websockets==8.1
Werkzeug==1.0.0
widgetsnbextension==3.4.2
wincertstore==0.2
word2vec==0.11.1
wordcloud==1.5.0
wrapt==1.12.1
wxpy==0.3.9.8
xadmin==0.6.1
xgboost==1.2.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.6.0
youtube-dl==2021.2.22
zhconv==1.4.1
zipp==3.4.1
zope.interface==4.4.3
